.ics_header {
	font-size: 25px;
	font-weight: normal;
	text-decoration: none;
	color: #d70;
	color: #9a9e23;
	color: #777;
	padding-top: 15px;
	padding-bottom: 10px;
}
.ics_author {
	font-size: 12px;
	font-weight: normal;
	color: #aaa;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.ics_bodytext {
	font-size: 18px;
	font-weight: normal;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ics_modified {
        font-size: 12px;
        font-weight: normal;
	font-style: italic;
	color: #777;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ics_powered {
	font-family: sans-serif;
        font-weight: normal;
	font-size: 11px;
	padding-top: 5px;
}


.ics_listheader {
        font-weight: normal;
	color: #444;
	font-size: 18px;
	text-transform: uppercase;
	padding-top: 10px;
}

a.ics_listheader {
	text-transform: none;
	color: #888;
}

.ics_listheader_small {
	font-weight: normal;
	font-size: 15px;
	color: #444;
	text-transform: uppercase;
	padding-top: 10px;
}

a.ics_listheader_small {
	text-transform: none;
	font-size: 15px;
	color: #888;
}

.ics_navigation {
	color: #666;
}

hr {
	border-top: 1px dotted #ccc;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
}

