body {
	background: #fff;
	font-family: serif;
	margin: 0px;
}
.head {
	font-size: 40px;
	letter-spacing: 0.7px;
	padding-bottom: 14px;
}
.welcome {
	font-size: 20px;
	color: #d70;
}
.samoht {
        color: #d70;
	color: #9a9e23;
}
a:hover {
	text-decoration: underline;
}
table.main {
	width: 100%;
	border-spacing: 0px;
	height: 100%;
	font-size: 15px;
}
td.top {
	font-family: sans-serif;
	color: #000;
	font-weight: normal;
	font-size: 13px;
	padding-left: 25px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #aaa;
}
a.top {
	color: #000;
}
td.main {
	height: 100%;
	width: 550px;
	vertical-align: top;
	padding-top: 30px;
	padding-left: 25px;
	padding-bottom: 20px;
	padding-right: 150px;
}
blockquote {
	font-family: serif;
	background: #ffd;
	border: solid 1px #fea;
	border-left: solid 5px #fea;
	border-right: solid 2px #fea;
	padding: 10px;
	font-size: 12px;
}
