body {
	background: #fff;
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
}
a:link,a:visited,a:active {
	color: #000;
}
a:hover {
	border-bottom: 0px;
	text-decoration: none;
}
table.main {
	width: 100%;
	border-spacing: 0px;
	height: 100%;
}
td.top {
	background: #fff;
	color: #333;
	font-size: 11px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #555;
}
td.main {
	font-family: sans-serif;	
        background: #fff;
	height: 100%;
	width: 675px;
	vertical-align: top;
	padding-top: 30px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-right: 100px;
	font-size: 12px;
}
blockquote {
	font-family: sans-serif;
	background: #f5ffca;
	background: #ffd;
	border: solid 1px #fea;
	padding: 10px;
}
h1 {
	font-family: serif;
	font-weight: normal;
	font-size: 24px;
	color: #aa0000;
}
h2 {
	font-family: serif;
	font-weight: normal;
	font-size: 20px;
	color: #aa0000;
}
